@{
    ViewData["Title"] = "Home Page";
    string c = ViewBag.City;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Clima:</h1>
<form asp-action="Busqueda">
    <label for="Ciudad">Ciudad:</label>
    <input id="ciudad" type="text" name="ciudad" />
    <input type="submit" value="Save" />
</form>

<h1>
    @ViewBag.City
    

    
    
</h1>
